In [114]:
import pandas as pd
import datetime as dt

In [115]:
df_el_nino = pd.read_csv('Datasets\el_nino_la_nina_1999_2019.csv')
display(df_el_nino)
print(df_el_nino['start year'])

    start year  end year phenomenon     severity
0         2004      2005    El Nino         Weak
1         2006      2007    El Nino         Weak
2         2014      2015    El Nino         Weak
3         2018      2019    El Nino         Weak
4         2002      2003    El Nino     Moderate
5         2009      2010    El Nino     Moderate
6         2015      2016    El Nino  Very Strong
7         2000      2001    La Nina         Weak
8         2005      2006    La Nina         Weak
9         2008      2009    La Nina         Weak
10        2016      2017    La Nina         Weak
11        2017      2018    La Nina         Weak
12        2011      2012    La Nina     Moderate
13        1999      2000    La Nina       Strong
14        2007      2008    La Nina       Strong
15        2010      2011    La Nina       Strong

0     2004
1     2006
2     2014
3     2018
4     2002
5     2009
6     2015
7     2000
8     2005
9     2008
10    2016
11    2017
12    2011
13    1999
14    2007
15    2010
Name: start year, dtype: int64

In [122]:
print(pd.to_datetime(df_el_nino['start year'], format='%Y/01/01').dt.year)

0     1999
1     2000
2     2001
3     2002
4     2003
5     2004
6     2005
7     2006
8     2007
9     2008
10    2009
11    2010
12    2011
13    2012
14    2013
15    2014
16    2015
17    2016
18    2017
19    2018
Name: start year, dtype: int32

In [117]:
anos_desejados = range(df_el_nino['start year'].min(), df_el_nino['start year'].max() + 1)

# Reindexe o DataFrame com os anos desejados e preencha os valores ausentes na coluna Severidade com "Não houve"
df_el_nino = df_el_nino.set_index('start year').reindex(anos_desejados).fillna('Não houve').reset_index()

# Renomeie a coluna Ano de volta
df_el_nino = df_el_nino.rename(columns={'index': 'Ano'})

print(df_el_nino)

    start year   end year phenomenon     severity
0         1999     2000.0    La Nina       Strong
1         2000     2001.0    La Nina         Weak
2         2001  Não houve  Não houve    Não houve
3         2002     2003.0    El Nino     Moderate
4         2003  Não houve  Não houve    Não houve
5         2004     2005.0    El Nino         Weak
6         2005     2006.0    La Nina         Weak
7         2006     2007.0    El Nino         Weak
8         2007     2008.0    La Nina       Strong
9         2008     2009.0    La Nina         Weak
10        2009     2010.0    El Nino     Moderate
11        2010     2011.0    La Nina       Strong
12        2011     2012.0    La Nina     Moderate
13        2012  Não houve  Não houve    Não houve
14        2013  Não houve  Não houve    Não houve
15        2014     2015.0    El Nino         Weak
16        2015     2016.0    El Nino  Very Strong
17        2016     2017.0    La Nina         Weak
18        2017     2018.0    La Nina         Weak
19        2018     2019.0    El Nino         Weak

In [118]:
df_temp = df_el_nino.groupby(['start year', 'severity']).agg({"phenomenon":"nunique"}).reset_index()
df_temp

    start year     severity  phenomenon
0         1999       Strong           1
1         2000         Weak           1
2         2001    Não houve           1
3         2002     Moderate           1
4         2003    Não houve           1
5         2004         Weak           1
6         2005         Weak           1
7         2006         Weak           1
8         2007       Strong           1
9         2008         Weak           1
10        2009     Moderate           1
11        2010       Strong           1
12        2011     Moderate           1
13        2012    Não houve           1
14        2013    Não houve           1
15        2014         Weak           1
16        2015  Very Strong           1
17        2016         Weak           1
18        2017         Weak           1
19        2018         Weak           1

In [119]:
df_temp = df_temp.sort_values(by='start year', ascending=False)
df_temp

    start year     severity  phenomenon
19        2018         Weak           1
18        2017         Weak           1
17        2016         Weak           1
16        2015  Very Strong           1
15        2014         Weak           1
14        2013    Não houve           1
13        2012    Não houve           1
12        2011     Moderate           1
11        2010       Strong           1
10        2009     Moderate           1
9         2008         Weak           1
8         2007       Strong           1
7         2006         Weak           1
6         2005         Weak           1
5         2004         Weak           1
4         2003    Não houve           1
3         2002     Moderate           1
2         2001    Não houve           1
1         2000         Weak           1
0         1999       Strong           1

In [120]:
df_temp = pd.to_datetime(df_temp['start year'], format='%Y')
print(df_temp)

19   2018-01-01
18   2017-01-01
17   2016-01-01
16   2015-01-01
15   2014-01-01
14   2013-01-01
13   2012-01-01
12   2011-01-01
11   2010-01-01
10   2009-01-01
9    2008-01-01
8    2007-01-01
7    2006-01-01
6    2005-01-01
5    2004-01-01
4    2003-01-01
3    2002-01-01
2    2001-01-01
1    2000-01-01
0    1999-01-01
Name: start year, dtype: datetime64[ns]